[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pypivot"
authors = [{name = "Carl Anderson", email = "carl@dumpsterfire.dev"}]
dynamic = ["version", "description"]
